@page "/reports/{id}"
<div class="relative z-10 flex-shrink-0 flex h-16 bg-white border-b border-gray-200">
    <MobileMenuButton/>
    <div class="flex-1 px-4 flex justify-between">
        <div class="flex-1"></div>
        <div class="ml-4 flex items-center space-x-2 lg:ml-6">
            <a href="@($"/reports/{Report.Id}/print")" target="_blank" class="inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-pink-600 hover:bg-pink-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900">
                Versturen
            </a>
        </div>
    </div>
</div>
<main class="flex-1 overflow-y-auto focus:outline-none" tabindex="0" x-data="" x-init="$el.focus()">
    <div class="relative mx-auto md:px-12">
        <div class="pt-10 pb-16">
            <div class="px-4 sm:px-6 md:px-0">
                @if (Customer != null)
                {
                    <h1 class="text-3xl font-extrabold text-gray-900">@Customer.CompanyName</h1>
                }
                else
                {
                    <h1 class="text-3xl font-extrabold text-gray-900">Nieuw Rapport</h1>
                }
            </div>
            <div class="px-4 sm:px-6 md:px-0">
                <div class="py-6">
                    <!-- Tabs -->
                    <div class="md:hidden">
                        <label for="selected-tab" class="sr-only">Selecteer een onderdeel</label>
                        <select @onchange="@(e => ChangeTab((string) e.Value!))" id="selected-tab" name="selected-tab" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm rounded-md">
                            <option selected="" value="Designer">Plattegrond</option>
                            <option value="General">Algemeen</option>
                            <option value="Meta">Metagegevens</option>
                        </select>
                    </div>
                    <div class="hidden md:block">
                        <div class="border-b border-gray-200">
                            <nav class="-mb-px flex">
                                <!-- Current: "border-pink-500 text-pink-600", Default: "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" -->
                                @{
                                    const string currentTabClass = "border-pink-500 text-pink-600";
                                    const string defaultTabClass = "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700";
                                }
                                <a href="#" @onclick="@(() => ChangeTab("Designer"))" @onclick:preventDefault class="@(CurrentTab == "Designer" ? currentTabClass : defaultTabClass) whitespace-nowrap py-4 px-1 border-b-2 font-medium text-sm">
                                    Plattegrond
                                </a>
                                <a href="#" @onclick="@(() => ChangeTab("General"))" @onclick:preventDefault class="@(CurrentTab == "General" ? currentTabClass : defaultTabClass) whitespace-nowrap ml-8 py-4 px-1 border-b-2 font-medium text-sm">
                                    Algemeen
                                </a>
                                <a href="#" @onclick="@(() => ChangeTab("Meta"))" @onclick:preventDefault class="@(CurrentTab == "Meta" ? currentTabClass : defaultTabClass) whitespace-nowrap ml-8 py-4 px-1 border-b-2 font-medium text-sm">
                                    Metagegevens
                                </a>
                            </nav>
                        </div>
                    </div>

                    @if (CurrentTab == "Designer")
                    {
                        <div class="py-8 xl:py-10">
                            <div class="design-canvas relative overflow-auto">
                                <img src="@Schematic.GetImageDataUrl()" alt="" class="select-none" width="800" height="800"/>
                                @foreach (var location in Report.Locations)
                                {
                                    <div data-location-id="@location.Id" class="damage flex flex-col justify-center" style="left: @(location.Left)px; top: @(location.Top)px; width: @(location.Width)px; height: @(location.Height)px;">
                                        <span class="text-2xl font-semibold text-pink-500 text-center">@location.Number</span>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                    else if (CurrentTab == "General")
                    {
                        <div class="py-8 xl:py-10">
                            <EditForm EditContext="ReportContext" class="space-y-6">
                                <div class="mt-3 sm:mt-0 sm:ml-4">
                                    <div class="space-y-6">
                                        <div>
                                            <label for="customerId" class="block mb-1 text-sm font-medium text-gray-700">
                                                Klant
                                            </label>
                                            <select @bind="@Report.CustomerId" id="customerId" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm rounded-md">
                                                <option value="">-</option>
                                                @foreach (var customer in Customers.Values)
                                                {
                                                    <option value="@customer.Id">@customer.CompanyName</option>
                                                }
                                            </select>
                                        </div>
                                        <div>
                                            <label for="location" class="block mb-1 text-sm font-medium text-gray-700">
                                                Opmerkingen
                                            </label>
                                            <InputTextArea @bind-Value="Report.Remarks" id="location" cols="3" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm"/>
                                        </div>
                                        <div>
                                            @if (Photo != null)
                                            {
                                                <div class="mb-2">
                                                    <img src="@Photo.GetImageDataUrl()" alt=""/>
                                                </div>
                                            }
                                            <div>
                                                <label class="block mb-1 text-sm font-medium text-gray-700">
                                                    Foto
                                                </label>
                                                <div class="relative flex justify-center px-6 pt-5 pb-6 border-2 border-gray-300 border-dashed rounded-md">
                                                    <div class="space-y-1 text-center">
                                                        <svg class="mx-auto h-12 w-12 text-gray-400" stroke="currentColor" fill="none" viewBox="0 0 48 48" aria-hidden="true">
                                                            <path d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                                        </svg>
                                                        <div class="flex text-sm text-gray-600">
                                                            <label for="file-upload" class="cursor-pointer bg-white rounded-md font-medium text-pink-600 hover:text-pink-500 focus-within:outline-none focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-pink-500">
                                                                <span>Upload een afbeelding</span>
                                                                <InputFile OnChange="@OnGeneralPhotoChanged" id="file-upload" class="absolute opacity-0 w-full h-full top-0 left-0"/>
                                                            </label>
                                                            <p class="pl-1">of sleep naar hier</p>
                                                        </div>
                                                        <p class="text-xs text-gray-500">
                                                            PNG, JPG, GIF tot 100MB
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                    else if (CurrentTab == "Meta")
                    {
                        <div class="py-8 xl:py-10">
                            <EditForm EditContext="ReportContext" class="space-y-6">
                                <div class="mt-3 sm:mt-0 sm:ml-4">
                                    <div class="space-y-6">
                                        <div>
                                            <label for="title" class="block mb-1 text-sm font-medium text-gray-700">
                                                Datum
                                            </label>
                                            <InputDate @bind-Value="Report.Date" id="title" type="date" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm"/>
                                        </div>
                                        <div>
                                            <label for="nextExaminationBefore" class="block mb-1 text-sm font-medium text-gray-700">
                                                Volgende keuring voor
                                            </label>
                                            <InputDate @bind-Value="Report.NextExaminationBefore" id="nextExaminationBefore" type="text" class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm placeholder-gray-400 focus:outline-none focus:ring-pink-500 focus:border-pink-500 sm:text-sm"/>
                                        </div>
                                    </div>
                                </div>
                            </EditForm>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</main>